#lineChart {
    position: relative;
    width: 100%;
    display: flex;
    width: 100%;

    .chart-area {
        width: 100%;
        overflow-y: hidden;
        position: relative;
        @include scroll();

        > div {
            height: 100%;
            position: relative;
        }
    }

    // x,y 축 레이블
    .label {
        &-y {
            position: relative;
            top: 0.2rem;
            left: -0.8rem;
            z-index: 2;
            flex: 0 0 auto;
            background: #fff;
            font-size: 1.2rem;
            font-weight: 500;
            @include flex(space-between, end, column-reverse);

            > div {
                position: absolute;
                left: 0;
                width: 100%;
                text-align: right;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        &-x {
            height: 1.2rem;
            position: absolute;
            bottom: 0;
            user-select: none;
            z-index: 4;
            height: 3rem;
            font-size: 1.1rem;
            @include flex(space-between);
            > div {
                position: absolute;
                transform: translateX(-50%);
                text-align: center;
                white-space: nowrap;
            }
        }
    }

    .line {
        &-x {
            position: absolute;
            top: 0;
            z-index: 1;
            pointer-events: none;
        }
    }

    // 데이터 값
    .data-label {
        background-color: #fff;
        border: 1px solid $line_gray;
        padding: 0.4rem;
        text-align: center;
        font-size: 1rem;
        border-radius: 0.5rem;
        font-weight: 600;
        > .value {
            font-size: 1.2rem;
        }
        > .time {
            color: $text03;
        }
    }
}
