{
  "root": true,
  "settings": {
    "moduleDirectory": [
      "node_modules",
      "src/"
    ],
    "react": {
      "pragma": "React",
      "commonjs": true,
      "es6": true,
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx",
        ".d.ts",
        ".js",
        ".jsx"
      ]
    },
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "es2020": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 0,
    "no-use-before-define": "error",
    "no-unused-vars": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "react/prop-types": [
      "error",
      {
        "skipUndeclared": true
      }
    ]
  }
}
