.progress-wrapper {
    .progress {
        height: 0.313rem;
        background-color: #ddd;
        border-radius: 1rem;
        overflow: hidden;

        .progress-bar {
            height: 100%;
            transition: width 0.3s linear;
            background-color: #222;

            &.waiting {
                background-color: $yellow;
            }

            &.ongoing {
                background-color: $primary;
            }

            &.cancel {
                background-color: $text03;
            }

            &.success {
                background-color: $green;
            }

            &.fail {
                background-color: $red;
            }
        }
    }
}
